{% extends "blog.html" %}

{% block header %}
<title>Blog | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>
	<li><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>
	<li><a href="{{ ROOT_URL }}/contact.html">Contact Us</a></li>
{% endblock %}

{% block content %}
<div class="blog-content">
	<div class="row-fluid">
		<div class="blog-post">
			<h2 class="post-title">About Us</h2>
	        <div class="wrapper">
				<p class="text"> </p>



				<p class="text"><strong><br>

				  Contact</strong></p>

				<p class="text">ViZitMyanmar, LLC<br>

				  <br>

				  <br>

				  ViZitMyanmar@Gmail.com</p>
	        </div>
		</div>
	</div>
</div>
{% endblock %}
