{% extends "blog.html" %}

{% block header %}
<title>Blog | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>
	<li class="active"><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>
	<li><a href="{{ ROOT_URL }}/about.html">Contact Us</a></li>
{% endblock %}

{% block content %}
<div class="blog-content">
	<div class="row-fluid">
		<div class="blog-post">
			<h2 class="post-title">A Train Ride</h2>
	        <div class="wrapper-img">
	        	<div class="thumbnail">
		            <div class="video">
						<iframe src="http://player.vimeo.com/video/37821955" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/37821955">Myanmar</a> from <a href="http://vimeo.com/user3201605">Cameron Parr</a></p>
		            </div>
	            </div>
	        </div>
	        <div class="wrapper">
	            <p class="text">
	               	A beautiful video captured by a tourist. It highlights the beautiful people of myanmar and some of the pristine rural villages. You will get to see the country side if you take a train ride from Yangon to Mandalay. Trains are rather slow. So, make sure you have plenty of time on the road, on the train. But it'll be worth it.
	            </p>
	            <p class="tags">
	                Tags: <a href="#">Train</a>, <a href="#">Myanmar</a>, <a href="#">Traveller</a>
	            </p>
	        </div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="blog-post">
			<h2 class="post-title">Arial Bagan</h2>
	        <div class="wrapper-img">
	        	<div class="thumbnail">
		            <div class="video">
						<iframe src="http://player.vimeo.com/video/56605338?portrait=0&amp;badge=0&amp;color=ff9933" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/56605338">Visualtraveling - Myanmar</a> from <a href="http://vimeo.com/visualtraveling">Patrik Wallner</a></p>
		            </div>
	        	</div>
	        </div>
	        <div class="wrapper">

	            <p class="text">
					Another high quality footage of Myanmar. The video shows awesome arial coverage of <a href="http://en.wikipedia.org/wiki/Bagan">Bagan</a> -- the ancient, historic city located in central Myanmar. When I visited Bagan for the first time, I was surprised by the sheer volume and density of pagodas that occupied Bagan land. It shows a high civilization and Bagan was certainly ahead of its time.
	            </p>
	            <p class="tags">
	                Tags: <a href="#">Bagan</a>, <a href="#">Video</a>, <a href="#">Myanmar</a>
	            </p>
	        </div>
        </div>
	</div>
</div>
{% endblock %}
