{% extends "base.html" %}

{% block header %}
<title>Blog | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}	
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>						
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>								
	<li class="active"><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>							
	<li><a href="{{ ROOT_URL }}/contact.html">Contact Us</a></li>	
{% endblock %}	

{% block content %}
<div class="row-fluid">
	<div class="span7">	
		<div class="blog-post">		
			<h2 class="post-title">Lorem ipsum</h2>
	        <div class="wrapper-img">
	        	<div class="thumbnail">
		            <div class="video">
						<iframe src="http://player.vimeo.com/video/37821955" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/37821955">Myanmar</a> from <a href="http://vimeo.com/user3201605">Cameron Parr</a></p>
		            </div>
	            </div>
	        </div>
	        <div class="wrapper">
	            <p class="text">
	               	The most vivid image burnt into the back of my brain is that of orange tinted clay that covers most of the ground in Myanmar and a large part of Southeast Asia. It’s pictureque against the backdrop of lush jungle and neatly laid rows of rice paddies, but in monsoon season (May to October) this stuff turns into orange sludge, simultaneously combining the two worst characteristics in a surface that is meant to be traveled on — sticky like tar and slippery like ice. Walking is battle, not to mention walking with a pot of water or bucket full of rice. 
	            </p>
	            <p class="text">   	
					To the left is a picture of a pretty typical back country road that I saw on my travels. You can see why the situation is so desperate in the Irrawaddy Delta. When you combine one of the worst infrastructures in the world with a natural disaster like Cyclcone Nargis, you end up with a logistical nightmare.
	            </p>
	            <p class="tags">
	                Tags: <a href="#">Science</a>, <a href="#">Technology</a>, <a href="#">News</a>
	            </p>
	        </div>  
		</div>
	</div>
	<div class="span4">
		<div class="other_info">
			<p>
				<strong><a href="detail.html">Fly Airlines</a></strong>
				<br>in <a href="view_all.html">Life Style</a> - 01/01/2010					
			</p>							
			<p>
				<strong><a href="detail.html">The Coffee Connection</a></strong>						
				<br>in <a href="view_all.html">Food and Dining</a> - 12/26/2009					
			</p>						
			<p>
				<strong><a href="detail.html">Dental Care Clinic</a></strong>							
				<br>in <a href="view_all.html">Fitness</a> - 12/21/2009					
			</p>						
			<p>
				<strong><a href="detail.html">Espresso</a></strong>
				<br>in <a href="view_all.html"> Gifts and Flowers</a> - 07/04/2009
			</p>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span7">	
		<div class="blog-post">	
			<h2 class="post-title">Lorem ipsum</h2>
	        <div class="wrapper-img">
	        	<div class="thumbnail">
		            <div class="video">
						<iframe src="http://player.vimeo.com/video/56605338?portrait=0&amp;badge=0&amp;color=ff9933" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/56605338">Visualtraveling - Myanmar</a> from <a href="http://vimeo.com/visualtraveling">Patrik Wallner</a></p>
		            </div>
	        	</div>
	        </div>
	        <div class="wrapper">

	            <p class="text">
Over the next few weeks I’m going to post anecdotes about my travels in Burma and relate those back to lessons I’ve learned. I’m not sure exactly how many there will be, but right now I’ve got five or so cooking.
	            </p>
	            <p class="text">   	
You may be thinking I’m a little late, right? I can’t deny that this post was supposed to go out weeks ago, but I think this is still a good time. Just as the tragedy is slipping off the front page, I hope I can do my part to reinvigorate the conversation.
	            </p>
	            <p class="text">
A disclaimer: Most of the time I spent in Myanmar was not in the region affected by cyclone Nargis. Travel in Myanmar is highly restricted. I did spend some time in Yangon, but the Irrawady Delta, the area hardest hit by the cyclone, was completely off limits, so I can merely speak from the few parts I was able to visit.
	            </p>
	            <p class="tags">
	                Tags: <a href="#">Science</a>, <a href="#">Technology</a>, <a href="#">News</a>
	            </p>
	        </div>
        </div>  
	</div>
</div>
{% endblock %}
