{% extends "base.html" %}

{% block header %}
<title>Deals | Myanmar Express</title>
{% endblock %}

{% block main-nav %}	
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>						
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>								
	<li class="active"><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>							
	<li><a href="{{ ROOT_URL }}/contact.html">Contact Us</a></li>	
{% endblock %}	

{% block content %}
Blog
{% endblock %}
