{% extends "base.html" %}

{% block header %}
<title>Classifieds | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>
	<li class="active"><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>
	<li><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>
	<li><a href="{{ ROOT_URL }}/about.html">Contact Us</a></li>
{% endblock %}

{% block content %}
<h3 class="title"><span class="pull-left">CLASSIFIED LISTINGS</span></h3>
<div class="row-fluid">
		<div class="featured-item">
			<div class="span3">
				<a href="{{ ROOT_URL }}/{{ featured_item.path }}"><img src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/thumb.jpg" alt="{{ featured_item.title }}" title="{{ featured_item.title }}" class="img pull-left"></a>
			</div>
			<div class="span7">
				<strong>
					<a href="{{ ROOT_URL }}/{{ featured_item.path }}">{{ featured_item.title }}</a>
					{% if featured_item.special_tag %}
						<span class="label label-important">{{ featured_item.special_tag }}</span>
					{% endif %}
				</strong>
				<p>{{ featured_item.description }}</p>
			</div>
		</div>
		{% for hotel in classified_hotels %}
			<div class="featured-item">
				<div class="span3">
					<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/thumb.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}" class="img pull-left"></a>
				</div>
				<div class="span7">
					<strong>
						<a href="{{ ROOT_URL }}/{{ hotel.path }}">{{ hotel.title }}</a>
						{% if hotel.special_tag %}
							<span class="label label-important">{{ hotel.special_tag }}</span>
						{% endif %}
					</strong>
					<p>{{ hotel.description }}</p>
				</div>
			</div>
		{% endfor %}
</div>



{% endblock %}

