{% extends "base.html" %}

{% block header %}
<title>Deals | Myanmar Express</title>
{% endblock %}

{% block main-nav %}	
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>						
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>								
	<li class="active"><a href="{{ ROOT_URL }}/deals.html">Deals</a></li>
	<li><a href="#">Articles</a></li>								
	<li><a href="#">Blog</a></li>								
	<li><a href="#">Contact Us</a></li>	
{% endblock %}	

{% block content %}
Deals!
{% endblock %}
