
{% extends "base.html" %}
{% block content %}

<h3 class="title"><span class="pull-left">HOTEL LISTINGS</span><span class="pull-right"><a href="{{ ROOT_URL }}/listings.html">View all listings</a></span></h3>
<div class="container-fluid">
	<div class="row-fluid product_listing">
		{% for hotel in featured_hotels %}
			<div class="span3">
				<div class="item">
					<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img class="img" src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/main.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}"></a>
					<a href="{{ ROOT_URL }}/{{ hotel.path }}" class="title">{{ hotel.title }}</a>
					{% if hotel.special_tag %}
						<span class="label label-success">{{ hotel.special_tag }}</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<h3 class="title"><span class="pull-left">FEATURED HOTEL</span></h3>						
<div class="row-fluid">
	<div class="span7">
		<div class="featured-item">
			<div class="pull-left deal-tag-info">
				<div class="deal-tag">$54</div>
				<div class="deal-discount">55% OFF</div>
			</div>
			<div id="main" class="pull-left">
				<a href="{{ ROOT_URL }}/{{ featured_item.path }}"><img src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/main.jpg" alt="" title="{{ featured_item.title }}" class="img deal-featured"></a>
				<p><strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="{{ featured_item.title  }}">55% off - {{ featured_item.title }} </a></strong>
				</p>
			</div>
			<div id="thumbs" class="span3"> 
				<a class="thumbnail">
					<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/1.jpg">
				</a>
				<a class="thumbnail">
					<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/2.jpg">
				</a><a class="thumbnail">
					<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/3.jpg">
				</a>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="other_info">
			<div class="item">
				<div class="deal-tag">$70</div>
				<strong><a href="detail.html" title="70% OFF for satellite T.V. at Soft Bed Hotel">70% OFF for satellite T.V. at Soft Bed Hotel</a></strong>
				<br/>by <a href="#" title="Soft Bed Hotel">Soft Bed Hotel</a>
			</div>
			<div class="item">
				<div class="deal-tag">$50</div>
				<strong><a href="detail.html" title="$50 - one month - Workout Gym">$50 - one month - Workout Gym</a></strong>
				<br/>by <a href="#" title="Workout">Workout</a>
			</div>
			<div class="item">
				<div class="deal-tag">$23</div>
				<strong><a href="detail.html" title="$23 For 30 Minute Massage">$23 For 30 Minute Massage</a></strong>
				<br/>by <a href="#" title="Relaxation Spa">Relaxation Spa</a>
			</div>
			<div class="item">
				<div class="deal-tag">$60</div>
				<strong><a href="detail.html" title="Weekday Promotion - 60% OFF">Weekday Promotion - 60% OFF</a></strong>
				<br/>by <a href="#" title="Golf Club Resort">Golf Club Resort</a>
			</div>
		</div>
	</div>
</div>

<h3 class="title"><span class="pull-left">CLASSIFIED HOTELS</span><span class="pull-right"><a href="{{ ROOT_URL }}/classifieds.html">View all classifieds</a></span></h3>
<div class="container-fluid">
	<div class="row-fluid product_listing">
		{% for hotel in classified_hotels %}
			<div class="span3">
				<div class="item">
					<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img class="img" src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/main.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}"></a>
					<a href="{{ ROOT_URL }}/{{ hotel.path }}" class="title">{{ hotel.title }}</a> 
					<span class="label label-success">$200</span>
					<br>in <a href="view_all_yangon.html" class="subinfo">Yangon</a>									
				</div>
			</div>
		{% endfor %}
	</div>
</div>


<script src="{{ STATIC_URL }}/js/custom.js"></script>		
{% endblock %}
