
{% extends "base.html" %}
{% block content %}

<h3 class="title"><span class="pull-left">HOTEL LISTINGS</span><span class="pull-right"><a href="{{ ROOT_URL }}/listings.html">View all listings</a></span></h3>
<div class="container-fluid">
	<div class="row-fluid product_listing">
		{% for hotel in featured_hotels %}
			<div class="span3">
				<div class="item">
					<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img class="img" src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/main.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}"></a>
					<a href="{{ ROOT_URL }}/{{ hotel.path }}" class="title">{{ hotel.title }}</a>
					{% if hotel.special_tag %}
						<span class="label label-success">{{ hotel.special_tag }}</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<h3 class="title"><span class="pull-left">FEATURED HOTEL</span></h3>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<div id="main">
				<a href="{{ ROOT_URL }}/{{ featured_item.path }}"><img src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/main.jpg" alt="" title="{{ featured_item.title }}" class="img deal-featured"></a>
				<p><strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="{{ featured_item.title  }}">55% off - {{ featured_item.title }} </a></strong>
				</p>
			</div>
		</div>
		<div id="thumbs" class="span2">
			<a class="thumbnail">
				<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/1.jpg">
			</a>
			<a class="thumbnail">
				<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/2.jpg">
			</a><a class="thumbnail">
				<img alt="" src="{{ STATIC_URL }}/img/hotels/{{ featured_item.title_flatten }}/3.jpg">
			</a>
		</div>
		<div class="span4">
			<div class="other_info">
				<div class="item">
					<div class="deal-tag">Free</div>
					<strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="Satellite T.V. at Soft Bed Hotel">Satellite T.V. and Soft Bed</a></strong>
				</div>
				<div class="item">
					<div class="deal-tag">Free</div>
					<strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="Workout Gym">Workout Gym</a></strong>
				</div>
				<div class="item">
					<div class="deal-tag">Free</div>
					<strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="$23 For 30 Minute Massage">$10 For 45 Minute Massage</a></strong>
				</div>
				<div class="item">
					<div class="deal-tag">$60</div>
					<strong><a href="{{ ROOT_URL }}/{{ featured_item.path }}" title="Weekday Promotion - 60% OFF">Weekday Promotion - 20% OFF</a></strong>
				</div>
			</div>
		</div>
	</div>
</div>

<h3 class="title"><span class="pull-left">CLASSIFIED HOTELS</span><span class="pull-right"><a href="{{ ROOT_URL }}/classifieds.html">View all classifieds</a></span></h3>
<div class="container-fluid">
	<div class="row-fluid product_listing">
		{% for hotel in classified_hotels %}
			<div class="span3">
				<div class="item">
					<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img class="img" src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/main.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}"></a>
					<a href="{{ ROOT_URL }}/{{ hotel.path }}" class="title">{{ hotel.title }}</a>
					<span class="label label-success">$200</span>
					<br>in <a href="view_all_yangon.html" class="subinfo">Yangon</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


<script src="{{ STATIC_URL }}/js/custom.js"></script>
{% endblock %}
