{% extends "base.html" %}

{% block header %}
<title>Listings | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
	<li><a href="{{ ROOT_URL }}/index.html">Home</a></li>
	<li class="active"><a href="{{ ROOT_URL }}/listings.html">Listings</a></li>
	<li><a href="{{ ROOT_URL }}/classifieds.html">Classifieds</a></li>
	<li><a href="{{ ROOT_URL }}/blog.html">Blog</a></li>
	<li><a href="{{ ROOT_URL }}/about.html">Contact Us</a></li>
{% endblock %}

{% block content %}
<h3 class="title"><span class="pull-left">FEATURED LISTINGS</span></h3>
<div class="row-fluid">
	{% for hotel in hotels %}
		<div class="featured-item">
			<div class="span3">
				<a href="{{ ROOT_URL }}/{{ hotel.path }}"><img src="{{ STATIC_URL }}/img/hotels/{{ hotel.title_flatten }}/thumb.jpg" alt="{{ hotel.title }}" title="{{ hotel.title }}" class="img pull-left"></a>
			</div>
			<div class="span7">
				<strong>
					<a href="{{ ROOT_URL }}/{{ hotel.path }}">{{ hotel.title }}</a>
					{% if hotel.special_tag %}
						<span class="label label-important">{{ hotel.special_tag }}</span>
					{% endif %}
				</strong>
				<p>Published: 05/12/2010 by <a href="#" target="_blank"> Olivia Matthew</a> in <a href="#">Travel</a></p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	{% endfor %}
</div>



{% endblock %}
